{
  "env": {
    "test": {
      "presets": ["env", "react", "stage-3"],
      "plugins": ["transform-export-extensions"],
      "only": [
        "./**/*.js",
        "node_modules/jest-runtime"
      ]
    }
  }
}
