.category{
    position: relative;
    background: #fff;
    border: 1px solid #999;
    font-size: 15px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0;
    text-align: left;
    overflow-wrap: break-word;
    resize: none;
    min-height: 24px;
    height: 100%;
    width: 400px;
    left: 50px;
    top: 50px;
}

.rend{
    position: absolute;
    top: 50%;
    right: 50%;
}